<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div>
			<h1>Olá, {{.Name}}!</h1>
			<p style="font-size= 1.5rem;">Obrigado por participar da nossa competição!</p>
			<p style="font-size= 1.5rem;">Compartilhe seu <a href="http://localhost:8080/register?invite={{.InviteCode}}"> <span style="font-style: italic; font-weight: bold">link</span></a> de convite e ganhe pontos!</p>
		</div>
	</body>
</html>

